---
pagination:
  data: statuses
  size: 1
  alias: status
layout: layout.njk
---

{% set status = statuses[0] %}

<main>
  <h1>
    Christian Engel is
    <span class="status">{{
      status.contentAndEmoji | lowerCaseFirstLetter
    }}</span>
  </h1>
  <div class="info">
    <p>{{ status.relativeTime }}</p>
  </div>
</main>
