---
pagination:
  data: statuses
  size: 1
  alias: status
permalink:
  serverless: "/preview/"
  build: "/{{ status.content | slugify }}/"
layout: layout.njk
---

{% if newStatus %} {% set status = newStatus %} {% endif %}
<main>
  <h1>
    Christian Engel is
    <span class="status">{{
      status.contentAndEmoji | lowerCaseFirstLetter
    }}</span>
  </h1>
  <div class="info">
    <p>{{ status.relativeTime }} | <a href="/login">New</a></p>
  </div>
  {% if newStatus %}
  <p>Build triggered. Content should be up in 1-2 minutes.</p>
  <pre>{{ newStatus | dump(2) }}</pre>
  {% endif %}
</main>
