---
pagination:
  data: statuses
  size: 1
  alias: status
permalink: "{{ status.content | slugify }}/"
layout: layout.njk
---

<main>
  <h1>
    Christian Engel is
    <span class="status">{{
      status.contentAndEmoji | lowercaseFirstLetter
    }}</span>
  </h1>
  <div class="info">
    <p>{{ status.relativeTime }}</p>
  </div>
</main>
