:root {
  --bg-color: #527853;
  --font-color: #f9e8d9;
  --primary-color: #f7b787;
  --secondary-color: #ee7214;
  --system-ui: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f9e8d9;
    --font-color: #527853;
    --primary-color: #ee7214;
    --secondary-color: #f7b787;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1.2rem;
  font-family: var(--system-ui);
  margin: 0;
}

main {
  margin: 5rem 2rem;
}

h1 {
  font-weight: 400;
}
