:root {
  --bg-color: #00215e;
  --font-color: #ffc55a;
  --primary-color: #fc4100;
  --secondary-color: #2c4e80;
  --system-ui: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffc55a;
    --font-color: #2c4e80;
    --primary-color: #00215e;
    --secondary-color: #fc4100;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1.2rem;
  font-family: var(--system-ui);
  margin: 0;
}

main {
  margin: 5rem 2rem;
}

h1 {
  font-weight: 400;
}

a {
  color: var(--primary-color);
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
